.cell {
  height: 100%;
  width: 100%;
  padding: 0.5px;
  display: flex;
  align-items: center;
  &-boolean {
    justify-content: center;
  }
  &-selected {
    &::before {
      display: none;
    }
  }
}
