.checkbook {
  cursor: pointer;
  display: inline-block;
  user-select: none;
  position: relative;
  background-color: var(--d-desc);
  border: 1px solid #ddd;

  &-middle {
    height: 24px;
    width: 24px;
    border-radius: 3px;
  }
  &-small {
    height: 20px;
    width: 20px;
    border-radius: 2px;
  }
  &-large {
    height: 28px;
    width: 28px;
    border-radius: 4px;
  }

  &:checked {
    background-color: var(--d-primary);
    color: #fff;
  }
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
