.userSheets {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  &-true {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  &-false {
    overflow: auto;
    height: calc(100% - 250px);
  }
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 220px;
  }
  &-empty {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 145px;
    border: 1px solid #eee;
    border-radius: 8px;
    &-title {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    &-desc {
      font-size: 13px;
      color: #999;
    }
  }
}

.toolbar {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 0;
  &-left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &-driver {
    height: 14px;
    width: 1px;
    background-color: #eee;
    margin: 0 20px 0 10px;
  }
  &-width-label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    > span {
      font-size: 13px;
      color: #002329d6;
    }
  }
}
.sheets-list {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 11px 0 0;
  .listItem {
    width: 100%;
    height: 42px;
    border-radius: 21px;
    padding: 0 16px 0 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    &-name {
      flex: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
    }
    &-isOwner {
      flex-shrink: 0;
      color: #777;
      width: 120px;
      font-size: 13px;
    }
    &-updateTime {
      flex-shrink: 0;
      width: 350px;
      color: #777;
      text-align: right;
      padding: 0 45px 0 0;
      font-size: 13px;
    }
    &:hover {
      background-color: #f4fbfa;
    }
  }
}
.sheets-grid {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  .gridItem {
    width: 188px;
    height: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #eee;
    padding-bottom: 6px;
    transition: all 0.1s;
    cursor: pointer;
    &-display {
      flex: 1;
      min-height: 0;
      width: 100%;
      margin-bottom: 6px;
    }
    &-row {
      height: 28px;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 8px;
      padding: 0 6px 0 16px;
    }
    &-name {
      flex: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-isOwner {
      flex-shrink: 0;
      color: #777;
      width: 80px;
      font-size: 12px;
    }
    &-updateTime {
      flex-shrink: 0;
      flex: 1;
      color: #777;
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 3px 10px -4px #0000001f, 0 10px 16px #00000014,
        0 9px 28px 10px #0000000d;
    }
  }
}

.sheetMore {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 15px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.rename {
  &-form {
    width: 100%;
    height: 100%;
    padding: 35px 20px;
    display: flex;
    align-items: center;
  }
}

.check-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
