.user {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-avatar {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: #13c2c2;
    font-size: 16px;
    font-weight: 800;
    background-color: #f1f1f1;
    &:hover {
      opacity: 0.8;
    }
  }
}
