.header {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  &-logo {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 12px 0;
  }
  &-desc {
    height: 22px;
    display: flex;
    align-items: center;
    color: var(--d-desc);
    font-size: 13px;
  }
  .sheetName {
    color: var(--d-title);
    display: flex;
    align-items: center;
    height: 28px;
    gap: 6px;
    &-name {
      font-size: 18px;
      font-weight: 500;
      outline: none;
      user-select: text;
      &::selection {
        background-color: var(--d-bgc-selection);
      }
      &:focus::before {
        content: none;
      }
    }
    &-rename {
      opacity: 0;
      transition: all 0.2s;
      font-size: 18px;
      color: var(--d-desc);
      cursor: pointer;
      width: 18px;
      height: 18px;
      &:hover {
        color: var(--d-text);
      }
    }
    &:hover {
      .sheetName-rename {
        opacity: 1;
      }
    }
  }
}
